
firmware/DeskCtrl/build/.last-used

firmware/DeskCtrl/build/build.options.json

firmware/DeskCtrl/build/compile_commands.json

firmware/DeskCtrl/build/core/build.opt

firmware/DeskCtrl/build/core/DeskCtrl.ino.globals.h

firmware/DeskCtrl/build/core/Updater_Signing.h

firmware/DeskCtrl/build/DeskCtrl.ino.bin

firmware/DeskCtrl/build/DeskCtrl.ino.elf

firmware/DeskCtrl/build/DeskCtrl.ino.map

firmware/DeskCtrl/build/includes.cache

firmware/DeskCtrl/build/ld_h/local.eagle.flash.ld.h

firmware/DeskCtrl/build/libraries.cache

firmware/DeskCtrl/build/libraries/EEPROM/EEPROM.cpp.d

firmware/DeskCtrl/build/libraries/EEPROM/EEPROM.cpp.o

firmware/DeskCtrl/build/local.eagle.app.v6.common.ld

firmware/DeskCtrl/build/local.eagle.flash.ld

firmware/DeskCtrl/build/preproc/ctags_target_for_gcc_minus_e.cpp

firmware/DeskCtrl/build/sketch/.vscode/arduino.json

firmware/DeskCtrl/build/sketch/.vscode/c_cpp_properties.json

firmware/DeskCtrl/build/sketch/Button.cpp

firmware/DeskCtrl/build/sketch/Button.cpp.d

firmware/DeskCtrl/build/sketch/Button.cpp.o

firmware/DeskCtrl/build/sketch/Button.h

firmware/DeskCtrl/build/sketch/Config.cpp

firmware/DeskCtrl/build/sketch/Config.cpp.d

firmware/DeskCtrl/build/sketch/Config.cpp.o

firmware/DeskCtrl/build/sketch/Config.h

firmware/DeskCtrl/build/sketch/DeskCtrl.ino.cpp

firmware/DeskCtrl/build/sketch/DeskCtrl.ino.cpp.d

firmware/DeskCtrl/build/sketch/DeskCtrl.ino.cpp.o

firmware/DeskCtrl/build/sketch/Led.cpp

firmware/DeskCtrl/build/sketch/Led.cpp.d

firmware/DeskCtrl/build/sketch/Led.cpp.o

firmware/DeskCtrl/build/sketch/Led.h

firmware/DeskCtrl/build/sketch/Memory.cpp

firmware/DeskCtrl/build/sketch/Memory.cpp.d

firmware/DeskCtrl/build/sketch/Memory.cpp.o

firmware/DeskCtrl/build/sketch/Memory.h

firmware/DeskCtrl/build/sketch/Motor.cpp

firmware/DeskCtrl/build/sketch/Motor.cpp.d

firmware/DeskCtrl/build/sketch/Motor.cpp.o

firmware/DeskCtrl/build/sketch/Motor.h

firmware/DeskCtrl/build/sketch/Syslog.cpp

firmware/DeskCtrl/build/sketch/Syslog.cpp.d

firmware/DeskCtrl/build/sketch/Syslog.cpp.o

firmware/DeskCtrl/build/sketch/Syslog.h
